	<div class="footer-top">
		<div class="container-fluid">
		<div class="col-md-6 contact">
			<h3>Visit our Shop</h3>
			<div class="address">
				<p>Baraka Plaza, Ground Floor Room G7</p>
				<p>Kenyatta Avenue</p>
				<p>Nakuru, Kenya</p>
				<p>Phone:+254 721 522 502 | 020 2352 392</p>
				<p>Email: <span>comlinkcomputers@gmail.com</span></p>
			</div>
		</div>
	</div>
	</div>
	<div class="footer-bottom">
			<p class="pull-left">© 2016 Comlinks Computers</p>
			<p class="pull-right">About</p>
	</div>
